* {
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

.grid {
    width: 500px;
    height: 500px;
    display: grid;
    border: solid 2px black;
    background-color: black;
    gap: 1px;
    
}
