* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-heading {
    margin-bottom: 48px;
    font-size: 48px;
}

.toggle-display {
    margin-bottom: 12px;
}

.toggle {
    margin-top: 64px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
    color: green;
}


.grid {
    width: 700px;
    height: 700px;
    display: grid;
    border: solid 1px black;
    background-color: black;
    gap: 1px;
    
}

